



nav {
  background-color: rgb(2, 2, 81);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 30px;
}


.nav-links {
  display: flex;
  gap: 25px;
} 

nav a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.logodiv {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}