body {
  font-family: Arial, sans-serif;
  background: #f5f7fade;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  cursor: pointer;
}

nav ul li:hover {
  color: #ffd369;
}

nav ul {
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;

  padding: 10px 30px;
  background: linear-gradient(90deg, #667eea, #764ba2);
  color: white;
  align-items: center;
}

main {
  text-align: center;
  margin-top: 20px;
}

form {
  background: white;
  padding: 20px;
  margin: auto;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

h1,
h2 {
  text-align: center;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

.submit {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-bottom: #010828;
  background: #667eea;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.submit:hover {
  background: #5a67d8;
}

.card {
  width: 150px;
  height: 150px;
  background-color: rgb(5, 17, 78);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  margin: 12px;
  border-radius: 15px;
  position: relative;
}

.card .title {
  text-align: center;
  font-size: 22px;
}

.containers {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.noteSection {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-top: 23px;
  text-align: center;
}

.del {
  position: absolute;
  right: 05px;
  cursor: pointer;
  color: red;
  font-size: 20px;
}
